body{
    margin: 0 auto;
}
.main{
    display: flex;
    justify-content: space-around;
    padding: 3rem 20rem 0 20rem;
}
.left_container{
    display: flex;
}
.right_container{
    display: flex;
}
.left-right{
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    margin-left: 20px;
}
.right-right{
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    margin-left: 20px;
}
input{
    border: 2px solid black;
    box-shadow: 1px 1px 1px black;
}
input[type='submit']{
    display: block;
    margin: 0 auto;
}
h2{
    text-align: center;
}
