<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkerboard</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='Checkerboard.css')}}">
</head>
<body>
<div> 
{%for i in range (x)%}
    <div>
        {%for j in range (y)%} 
        {% if (i%2 == 0 and j%2 ==0) or (i%2 != 0 and j%2 !=0): %}       
        <button class="red"></button>
        {%else:%}
        <button class="black"></button>
        {%endif%}
        {%endfor%}
    </div>
{%endfor%}
</div>         
    
</body>
</html>