<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground 1</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='Playground2.css')}}">
</head>
<body>
    <style>
       
        .box{
                margin:0.5%;
                height: 150px;
                width: 150px;
                background-color: {{col}};
                border-style: solid;      
            }
        h1  {
            text-align: center;
            }
    </style>
    <h1>Welcome!</h1>
    
    
    {% for i in range (num):%}
        <button class="box"></button>
    {%endfor%}  
    
    
</body>
</html>